@use "../abstracts" as *;
@use "sass:color";
@use "sass:math";

$-icon-size: 4rem;

.footer {
	background-color: $color-secondary-light;
	padding: 3rem 0 0.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 2rem;
	border-bottom: 0.175rem solid rgba(255, 255, 255, 0.2);

	@media (max-width: $breakpoint-sm) {
		flex-direction: column;
	}
}

.footer__text-column {
	flex: 0 0 auto;
	margin-right: 5rem;
	text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

	@media (max-width: $breakpoint-sm) {
		order: 2;
		margin-right: 0rem;
	}
}

.footer__logo-column {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: $breakpoint-sm) {
		order: 1;
		justify-content: start;
		padding-bottom: 2rem;
	}
}

.footer__heading {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.3rem;
	line-height: 1.1em;
	max-width: 25rem;
}

.footer__paragraph {
	color: $color-primary;
	padding-block: 1rem;
	margin-bottom: 2rem;
}

.footer__contact-item {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.75rem;
}

.footer__contact-item-icon {
	position: relative;
	z-index: 2;
	background-color: $color-primary;
	height: $-icon-size;
	width: $-icon-size;
	text-align: center;
	border-radius: 100%;
	font-size: 2.5rem;
	color: $color-secondary-light;

	&--phone {
		line-height: 3.9rem;
	}
}

.footer__contact-item-link {
	background-color: color.scale($color-secondary, $lightness: 40%);
	width: 16rem;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 1rem 2rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	overflow: hidden;

	position: absolute;
	z-index: 1;
	top: math.div($-icon-size, 16);
	left: math.div($-icon-size, 2);

	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: calc(-100% - 5rem);
		bottom: 0;
		width: calc(100% + 5rem);
		background-image: linear-gradient(
			-45deg,
			transparent 2.82rem,
			$color-secondary 2.82rem
		);
		background-position: right center;
		background-repeat: no-repeat;
		transition: transform 0.5s ease-in-out;
		will-change: transform;
	}

	&:hover {
		&::after {
			transform: translate(100%, 0);
		}
	}
}

.footer__logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.05em;
	font-size: 18rem;
	color: white;
	background-image: linear-gradient(
		135deg,
		$color-primary 0%,
		$color-secondary 100%
	);
	border-radius: 100%;

	@media (max-width: $breakpoint-md) {
		font-size: 12rem;
	}

	@media (max-width: $breakpoint-sm) {
		font-size: 6rem;
	}
}

.footer__logo-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.1em;
	border: 0.025em solid white;
	border-radius: 100%;
}

.footer__footer {
}

.footer__footer-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.footer__footer-link {
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	white-space: nowrap;
	transition: color 0.25s ease-in-out;

	&:hover {
		color: rgba(255, 255, 255, 0.75);
	}

	@media (max-width: $breakpoint-xs) {
		padding: 0.5rem 0.5rem;
	}
}
