@use "../abstracts" as *;

.header {
	height: 35rem;
	min-height: calc(13rem + 32vw);
	position: relative;
	overflow: hidden;

	/** 1200px oder schmaler */
	@media (max-width: $breakpoint-lg) {
		height: calc(18rem + 32vw);
	}
}

.header__slope {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 10vw;
	z-index: 1;

	background-image: linear-gradient(-5.71deg, white 49.9%, transparent 50.1%);
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: 100vw 10vw;
}

.header__container {
	position: relative;
}

.header::before,
.header::after {
	content: "";
	position: absolute;
	width: 100vw;
	bottom: -9rem;

	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;

	/** 1200px oder schmaler */
	@media (max-width: $breakpoint-lg) {
		bottom: -4rem;
	}
	/** 992px oder schmaler */
	@media (max-width: $breakpoint-md) {
		bottom: -1rem;
	}
}

.header::before {
	top: 0;
	background-image: url("../../assets/images/pexels-benjamin-suter-3617500.jpg");

	@media (max-width: $breakpoint-xs) {
		background-size: cover;
	}
}

.header::after {
	/* ~660 pixel hoch <=> 33vw */
	height: 33vw;
	background-image: url("../../assets/images/pexels-benjamin-suter-3617500-mountains.webp");

	@media (max-width: $breakpoint-xs) {
		display: none;
	}
}

.header__heading-container {
	clear: both;
}

.header__heading-main {
	font-weight: 700;
	padding-top: 5rem;
	line-height: 92%;
	font-size: 7rem;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

	animation-name: header__heading-main-font-weight;
	animation-delay: 0.75s;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	/** 992px oder schmaler */
	@media (max-width: $breakpoint-md) {
		font-size: 5rem;
	}
	/** 768px oder schmaler */
	@media (max-width: $breakpoint-sm) {
		font-size: 3rem;
	}
}

@keyframes header__heading-main-font-weight {
	0% {
		opacity: 0;
		font-weight: 100;
	}

	100% {
		opacity: 1;
		font-weight: 700;
	}
}

.header__heading-sub {
	margin-top: 1rem;
	font-size: 1.5rem;
	letter-spacing: 0.25rem;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 0.5rem black;
	z-index: 1;
	position: relative;
	/** 768px oder schmaler */
	@media (max-width: $breakpoint-sm) {
		font-size: 1rem;
	}
}
