@use "../../abstracts" as *;
@use "sass:color";
@use "sass:math";

.booking-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20000;
	background-color: color.scale($color-secondary-dark, $alpha: -15%);
	color: white;

	display: none;
	justify-content: center;
	align-items: center;

	&:target {
		display: flex;
	}
}

.booking-modal__content {
	position: relative;

	height: 20rem;
	width: 40rem;

	$modal-content-bg: color.scale($color-secondary-light, $alpha: -15%);

	background-image: linear-gradient(
			#{90deg + $slope-incline},
			transparent 32.9%,
			#{$modal-content-bg} 33.1%
		),
		linear-gradient(90deg, transparent 33%, rgba(255, 255, 255, 0.5) 100%),
		url("../assets/images/modal/pexels-david-bartus-610293.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center center, center center, center 30%;
	background-size: auto, auto, cover;
}

.booking-modal__close {
	display: block;
	height: 1rem;
	width: 1rem;

	position: absolute;
	top: 1rem;
	right: 1rem;

	color: transparent;
	border-radius: 100%;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
	background-image: linear-gradient(
			-45deg,
			transparent 44%,
			#{$color-primary} 45%,
			#{$color-primary} 55%,
			transparent 56%
		),
		linear-gradient(
			45deg,
			transparent 44%,
			#{$color-primary} 45%,
			#{$color-primary} 55%,
			transparent 56%
		);

	&:hover {
		opacity: 0.7;
	}
}
