@use "../../abstracts" as *;
@use "sass:color";
@use "sass:math";

$-booking-modal-height: 23rem;
$-booking-modal-width: 45rem;

.booking-modal {
	display: none;
	justify-content: center;
	align-items: center;

	&:target {
		display: flex;
	}

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20000;
	color: white;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		animation-name: booking-modal--fade-in;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-delay: 0s;
		animation-iteration-count: 1;

		background-color: rgba(0, 0, 0, 0.85);

		@supports (backdrop-filter: blur(4rem)) {
			background-color: rgba(0, 0, 0, 0.15);
			backdrop-filter: blur(4rem);
		}
	}
}

@keyframes booking-modal--fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.booking-modal__content {
	position: relative;

	height: $-booking-modal-height;
	width: $-booking-modal-width;
	max-width: 100vw;
	max-height: 100vh;
	overflow: auto;

	border-radius: 0.25rem;

	padding-left: calc(min(100vw, #{$-booking-modal-width}) * 0.375);

	$modal-content-bg: color.scale($color-secondary-light, $alpha: -15%);

	background-image: linear-gradient(
			#{90deg + $slope-incline},
			transparent 32.9%,
			#{$modal-content-bg} 33.1%
		),
		linear-gradient(90deg, transparent 33%, rgba(255, 255, 255, 0.5) 100%),
		url("../assets/images/modal/pexels-david-bartus-610293.jpg");
	background-color: rgb(127, 127, 127);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center center, center center, center 30%;
	background-size: auto, auto, cover;
	box-shadow: 0 0 1rem black;

	animation: booking-modal__content--fade-in;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: backwards;
}

@keyframes booking-modal__content--fade-in {
	0% {
		transform: translate(0, calc(-50vh - 50%));
	}
	100% {
		transform: translate(0, 0);
	}
}

.booking-modal__close {
	display: block;
	height: 1rem;
	width: 1rem;

	position: absolute;
	top: 1rem;
	right: 1rem;

	color: transparent;
	border-radius: 100%;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
	background-image: linear-gradient(
			-45deg,
			transparent 44%,
			#{$color-primary} 45%,
			#{$color-primary} 55%,
			transparent 56%
		),
		linear-gradient(
			45deg,
			transparent 44%,
			#{$color-primary} 45%,
			#{$color-primary} 55%,
			transparent 56%
		);

	&:hover {
		opacity: 0.7;
	}
}

.booking-modal__heading {
	margin-bottom: 0.35rem;
	padding-top: 3rem;
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
	text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.booking-modal__paragraph {
	font-weight: 250;
	margin-bottom: 1rem;
	text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.booking-modal__submit-container {
	text-align: right;
	margin-top: 1rem;
	margin-right: 1.5rem;
}
