@use "../../abstracts" as *;

$-motivation__image-hover-padding: 0.33rem;
$-motivation__imgage-hover-border: 0.33rem;

.motivation {
	margin-top: 2rem;
}

.motivation__column-text {
	float: left;
	width: 33.33%;
	padding-right: 4.5rem;
	padding-top: 4rem;

	@media (max-width: $breakpoint-lg) {
		padding-right: 3rem;
	}
	@media (max-width: $breakpoint-md) {
		padding-top: 0;
		padding-right: 0;
		width: 50%;
	}
	@media (max-width: $breakpoint-sm) {
		width: 80%;
		float: none;
		padding-bottom: 3rem;
	}
}

.motivation__text-heading {
	color: $color-secondary;
	font-weight: 500;
	font-size: 2rem;

	&::before {
		content: "";
		display: block;
		width: 3rem;
		height: 0.25rem;
		background-color: $color-secondary-light;
		margin-bottom: 0.5rem;
	}
}

.motivation__text {
	color: $color-secondary;
	margin-top: 0.2rem;
	font-size: 1.1rem;
}

.motivation__column-images {
	position: relative;
	float: left;
	width: 66.6%;
	height: clamp(10rem, calc(35vw + 10rem), 36rem);

	@media (max-width: $breakpoint-md) {
		width: 50%;
		height: clamp(10rem, calc(25vw + 10rem), 36rem);
	}
	@media (max-width: $breakpoint-sm) {
		float: none;
		width: 80%;
		margin: 0 auto;
		height: clamp(10rem, calc(40vw + 10rem), 36rem);
	}
	@media (max-width: $breakpoint-xs) {
		width: 90%;
		height: clamp(10rem, calc(45vw + 10rem), 36rem);
	}
}

/**
 * @param $top: Position from top (in rem);
 * @param $left: Position from left ( in %);
 */
@mixin motivation__image-position($top, $left) {
	top: $top;
	left: $left;

	$hover-offset: $-motivation__image-hover-padding +
		$-motivation__imgage-hover-border;

	&:hover {
		top: $top - $hover-offset; // wird von Sass umgerechnent
		left: calc(
			#{$left} - #{$hover-offset}
		); // wird vom Browser umgerechnent deshalb die #{}
	}
}
.motivation__image {
	width: 50%;
	position: absolute;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	box-sizing: content-box;
	filter: grayscale(50%);
	transform: scale(1);
	transition: filter ease-in-out 175ms, transform ease-in-out 175ms;

	&--first {
		width: 75%;
		top: 0;
		left: 25%;
		z-index: 1;

		@include motivation__image-position(0rem, 25%);
	}
	&--second {
		width: 37%;
		top: 10rem;
		left: 10%;
		z-index: 2;

		@include motivation__image-position(10rem, 10%);
	}
	&--third {
		width: 42%;
		top: 5rem;
		left: 40%;
		z-index: 3;

		@include motivation__image-position(5rem, 40%);
	}

	&:hover {
		filter: grayscale(0%);
		transform: scale(1.2);
		border: $-motivation__imgage-hover-border solid $color-primary;
		padding: $-motivation__image-hover-padding;
		z-index: 10;
	}
}
