@use "../../abstracts" as *;

.motivation {
	margin-top: 2rem;
}

.motivation__column-text {
	float: left;
	width: 25%;
}

.motivation__text-heading {
	margin-top: 4rem;
	color: $color-secondary;
	font-weight: 500;

	&::before {
		content: "";
		display: block;
		width: 3rem;
		height: 0.25rem;
		background-color: $color-secondary-light;
		margin-bottom: 0.5rem;
	}
}

.motivation__text {
	color: $color-secondary;
	margin-top: 0.2rem;
}

.motivation__column-images {
	position: relative;
	float: left;
	width: 66.6%;
}
@mixin motivation__image-position($top, $left) {
	top: $top;
	left: $left;

	&:hover {
		top: $top - 0.66rem;
		left: calc(#{$left} - 0.66rem);
	}
}
.motivation__image {
	width: 50%;
	position: absolute;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	box-sizing: content-box;

	&--first {
		width: 75%;
		top: 0;
		left: 25%;
		z-index: 1;

		@include motivation__image-position(0rem, 25%);
	}
	&--second {
		width: 37%;
		top: 10rem;
		left: 10%;
		z-index: 2;

		@include motivation__image-position(10rem, 10%);
	}
	&--third {
		width: 42%;
		top: 5rem;
		left: 40%;
		z-index: 3;

		@include motivation__image-position(5rem, 40%);
	}

	&:hover {
		border: 0.33rem solid $color-primary;
		padding: 0.33rem;

		z-index: 10;
	}
}
