@use "../../abstracts" as *;

.motivation {
	margin-top: 2rem;
}

.motivation__column-text {
	float: left;
	width: 33.3%;
}

.motivation__text-heading {
	margin-top: 4rem;
	color: $color-secondary;
	font-weight: 500;

	&::before {
		content: "";
		display: block;
		width: 3rem;
		height: 0.25rem;
		background-color: $color-secondary-light;
		margin-bottom: 0.5rem;
	}
}

.motivation__column-images {
	float: left;
	width: 66.6%;
}
.motivation__image {
	max-width: 50%;
	margin-left: 25%;
}
