@use "../../abstracts" as *;
@use "sass:math";
@use "sass:color";

$-half-pixel-width: math.div(1rem, 32);
$-offers-card-border-width: math.div(1rem, 16);
$-offers-card-border-color: rgba(0, 0, 0, 0.15);
$-offers-card-margin: 0.66rem;
$-width-md: math.div(100%, 2);

.offers {
	background-color: rgb(239, 241, 239);
	min-height: 5rem;
}

.offers__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-block: 4rem;
	margin-top: ($-offers-card-margin * -2);
	margin-left: -$-offers-card-margin;
	margin-right: -$-offers-card-margin;
}

.offers__card-container {
	$-width: math.div(100%, 3);

	width: calc(#{$-width} - #{($-offers-card-margin * 2 + 0.001rem)});
	margin-top: ($-offers-card-margin * 2);
	margin-right: $-offers-card-margin;
	margin-bottom: 0;
	margin-left: $-offers-card-margin;

	@media (max-width: $breakpoint-md) {
		width: calc(#{$-width-md} - #{($-offers-card-margin * 2 + 0.001rem)});
	}

	@media (max-width: $breakpoint-sm) {
		width: calc(
			100% - #{$-width-md} - #{($-offers-card-margin * 2 + 0.001rem)}
		);
	}
}

.offers__card {
	position: relative;
	// min-width: 16rem;
	box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.offers__card-primary {
	padding: 0 0 2rem 0;
	background-color: white;
	border-top: $-offers-card-border-width solid $-offers-card-border-color;
	border-right: $-offers-card-border-width solid$-offers-card-border-color;
	border-left: $-offers-card-border-width solid $-offers-card-border-color;
}
.offers__card-primary::after {
	content: "";
	display: block;
	position: absolute;
	left: -$-offers-card-border-width;
	right: -$-offers-card-border-width;
	bottom: 0;
	height: 0.75rem;
	background-color: $color-primary;
	border-right: $-offers-card-border-width solid
		color.scale($color-primary, $saturation: -50%, $lightness: 25%);
	border-left: $-offers-card-border-width solid
		color.scale($color-primary, $saturation: -50%, $lightness: 25%);
}

.offers__image-container {
	position: relative;
	background-color: $color-primary;
	margin-top: -$-offers-card-border-width;
	margin-left: -$-offers-card-border-width;
	margin-right: -$-offers-card-border-width;
}

.offers__image-container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	border-top: $-offers-card-border-width solid $-offers-card-border-color;
	border-right: $-offers-card-border-width solid $-offers-card-border-color;
	border-left: $-offers-card-border-width solid $-offers-card-border-color;
}

.offers__image-container::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 4rem;
	background-image: linear-gradient(
		-$slope-incline,
		white 49.5%,
		transparent 50.5%
	);
	background-repeat: no-repeat;
	background-position: 50% 100%;

	@media (max-width: $breakpoint-sm) {
		height: 5rem;
	}
}

.offers__image {
	width: 100%;
	mix-blend-mode: multiply;
	filter: grayscale(100%);
}

.offers__content {
	padding-inline: 1.5rem;
}

.offers__content-heading {
	color: $color-secondary;
	font-size: 1.75rem;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@media (max-width: $breakpoint-sm) {
		white-space: normal;
		text-overflow: initial;
	}
}

.offers__content-subheading {
	color: $color-primary;
	font-size: 1rem;
}

.offers__content-info {
	display: flex;
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	background-image: linear-gradient(
		90deg,
		transparent calc(50% - #{$-half-pixel-width}),
		rgba(0, 0, 0, 0.15) calc(50% - #{$-half-pixel-width}),
		rgba(0, 0, 0, 0.15) calc(50% + #{$-half-pixel-width}),
		transparent calc(50% + #{$-half-pixel-width})
	);
	background-repeat: no-repeat;
	background-size: 100% 75%;
	background-position: center center;
}

%offers__content-info-column {
	flex: 1 1 50%;
	color: $color-secondary;
	text-align: center;
	padding-block: 1rem;
}

.offers__content-info-duration {
	@extend %offers__content-info-column;
}
.offers__content-info-level {
	@extend %offers__content-info-column;
}

.offers__content-info--text {
	padding-left: 0.25rem;
}

.offers__content-price-container {
	padding-top: 0.75rem;
	color: $color-secondary;
	font-size: 1rem;
}

.offers__content-price {
	display: block;
	color: $color-primary;
	font-weight: 500;
	font-size: 2rem;
	line-height: 0.9em;
}

@mixin offers__card-hover-bg($alpha-dt: 0%) {
	background-image: linear-gradient(
			90deg,
			transparent calc(50% - #{$-half-pixel-width}),
			white calc(50% - #{$-half-pixel-width}),
			white calc(50% + #{$-half-pixel-width}),
			transparent calc(50% + #{$-half-pixel-width})
		),
		linear-gradient(
			135deg,
			color.scale($color-primary, $alpha: $alpha-dt) 0%,
			color.scale($color-primary, $lightness: -20%, $alpha: $alpha-dt) 100%
		);
}

.offers__card-hover {
	position: absolute;
	top: -$-offers-card-border-width;
	left: -$-offers-card-border-width;
	right: -$-offers-card-border-width;
	bottom: -$-offers-card-border-width;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: $color-primary;
	@include offers__card-hover-bg();
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center center;
	background-size: 100% calc(50% - 4rem), 100% 100%;

	opacity: 0;

	.offers__card:hover & {
		transition: opacity 0.25s ease-in-out;
		opacity: 1;
	}
}

.offers__card-container--flip {
	perspective: 50rem;

	.offers__card {
		transition: transform 1s ease-in-out;
		transform-style: preserve-3d;
	}

	&:hover .offers__card {
		transform: rotateY(180deg);
	}

	.offers__card-primary {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: rotateY(0deg);
		transform-style: preserve-3d;
	}

	.offers__card-hover {
		transform: rotateY(180deg);
		opacity: 1;

		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
}

%offers__card-container--3d-effect {
	perspective: 50rem;

	.offers__card {
		transition: transform 0.1s ease-in-out;
		transform: rotateX(calc(calc(var(--mouse-y, 0.5) - 0.5) * -20deg))
			rotateY(calc(calc(var(--mouse-x, 0.5) - 0.5) * 20deg));
	}

	&:hover {
		transition: transform 0.5s linear;
	}
}

.offers__card-contaienr--3d {
	@extend %offers__card-container--3d-effect;
	.offers__card-hover {
		display: none;
	}
}

.offers__card-contaienr--3d-hover {
	@extend %offers__card-container--3d-effect;

	.offers__card-primary {
		transform-style: preserve-3d;
		filter: blur(0rem);
		transition: filter 0.5s ease-in-out;
	}
	.offers__card {
		transform-style: preserve-3d;
	}

	.offers__card-hover {
		background-color: transparent;
		@include offers__card-hover-bg(-25%);

		transform: translateZ(1rem);
	}

	&:hover .offers__card-primary {
		filter: blur(0.5rem);
	}
}
