@use "../../abstracts" as *;
@use "sass:math";
@use "sass:color";

$-offers-card-border-width: math.div(1rem, 16);
$-offers-card-margin: 0.66rem;

.offers {
	background-color: rgb(239, 241, 239);
	min-height: 5rem;
}

.offers__container {
	display: flex;
	flex-wrap: wrap;
	padding-block: 4rem;
	margin-left: -$-offers-card-margin;
	margin-right: -$-offers-card-margin;
}
.offers__card {
	flex: 1 0 0rem;
	margin: 0 $-offers-card-margin;
	padding: 2rem 1rem;
	background-color: white;
	box-shadow: 0.5rem 0.5rem 2rem black;
	border-top: $-offers-card-border-width solid #e2e2e2;
	border-right: $-offers-card-border-width solid #e2e2e2;
	border-left: $-offers-card-border-width solid #e2e2e2;

	position: relative;
}

.offers__card::after {
	content: "";
	display: block;
	position: absolute;
	left: -$-offers-card-border-width;
	right: -$-offers-card-border-width;
	bottom: 0;
	height: 0.75rem;
	background-color: $color-primary;
	border-right: $-offers-card-border-width solid
		color.scale($color-primary, $saturation: -50%, $lightness: 25%);
	border-left: $-offers-card-border-width solid
		color.scale($color-primary, $saturation: -50%, $lightness: 25%);
}
