@use "../../abstracts" as *;
@use "sass:color";

.story {
	position: relative;
	overflow: hidden;
}

.story__video {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;

	@supports (object-fit: cover) and (object-position: center center) {
		height: 100%;

		object-fit: cover;
		object-position: center center;
	}
}

.story__video-colorize {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: color.scale($color-secondary, $alpha: -50%);
}

.story__container {
	position: relative;
	z-index: 2;

	@include make-container();
}

.story__heading {
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 2rem;
	padding-block: 4rem;
	text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
}

.story__desc {
	max-width: 40rem;
	margin: 0 auto;
	color: white;
	column-count: 2;
	column-gap: 4rem;
	column-rule: 0.125rem solid rgba(255, 255, 255, 0.5);
	text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
	text-align: justify;

	@media (max-width: $breakpoint-sm) {
		column-count: 1;
		text-align: left;
	}
}

.story__book {
	text-align: center;
	padding: 4rem 0;
}
