@use "../../abstracts" as *;
@use "sass:color";

.story {
	position: relative;
	overflow: hidden;
}

.story__video {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
}

.story__video-colorize {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: color.scale($color-secondary, $alpha: -50%);
}

.story__container {
	position: relative;
	z-index: 2;

	@include make-container();
}
