@use "../../abstracts" as *;

$-tours-background-color: $color-secondary-dark;

.tours {
	background-color: $-tours-background-color;
}

.tours__heading {
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 2rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
