@use "../../abstracts" as *;

$-tours-background-color: $color-secondary-dark;
$-tours-icon-size: 3rem;
$-tours-animation-duration: 0.25s;

.tours {
	position: relative;
	background-color: $-tours-background-color;
	padding-bottom: 9.5rem;
}

%tours__before-and-after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	content: "Tame the wild";
	text-transform: uppercase;
	color: $-tours-background-color;
	font-size: min(calc(100vw / 9), 10rem);
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 2px white;
	overflow: hidden;
	white-space: nowrap;
}

@mixin -tours__before-and-after-stroke($color) {
	@supports (-webkit-text-stroke: 2px #{$color}) or (text-stroke: 2px #{$color}) {
		.tours::before {
			-webkit-text-stroke: 2px #{$color};
			text-stroke: 2px #{$color};
			text-shadow: none;
		}
	}
}

.tours::before {
	@extend %tours__before-and-after;

	@include -tours__before-and-after-stroke(rgba(255, 255, 255, 0.2));
}

.tours::after {
	@extend %tours__before-and-after;

	@include -tours__before-and-after-stroke(transparent);
}

.tours__container {
	position: relative;
	z-index: 1;

	@include make-container();
}

.tours__heading {
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 2rem;
	padding-top: 4rem;
	padding-bottom: 1rem;
}

.tours__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tours__card {
	flex: 0 0 (71rem / 5);
	margin-top: 3rem;
	height: 21rem;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 1rem transparent;
	transform: scale(1);
	transition: transform $-tours-animation-duration ease-in-out,
		box-shadow $-tours-animation-duration ease-in-out,
		z-index $-tours-animation-duration linear;
	z-index: 0;

	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 1rem black;
		transition: transform $-tours-animation-duration ease-in-out,
			box-shadow $-tours-animation-duration ease-in-out, z-index 0s linear;
		z-index: 1000;
	}
}

.tours__card-icon-background {
	background-color: $color-primary;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $-tours-icon-size;
	box-shadow: 0 0 0.125rem black;
	transform: translate(calc(-100% + #{$-tours-icon-size}), 0);
	transition: transform $-tours-animation-duration ease-in-out;

	.tours__card:hover & {
		transform: translate(0, 0);
	}
}

.tours__card-img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	filter: brightness(80%);
}
.tours__card-icon-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translate(0, 0);
	transition: transform $-tours-animation-duration ease-in-out;

	.tours__card:hover & {
		transform: translate(calc(50% - #{$-tours-icon-size / 2}), 0);
	}
}

.tours__card-icon {
	display: block;
	width: $-tours-icon-size;
	color: white;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.tours__card-content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3rem 1rem 0 1rem;
	color: white;
	text-shadow: 0 0 0.125rem black;
	background-image: linear-gradient(
		180deg,
		transparent 0%,
		rgba(0, 0, 0, 0.25) 20%
	);
	transform: translate(0, calc(100% - 7.5rem));
	transition: transform $-tours-animation-duration ease-in-out;

	.tours__card:hover & {
		transform: translate(0, 0);
	}
}

.tours__card-heading {
	font-size: 1.1rem;
	margin-bottom: 0.25rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tours__card-location {
	display: flex;
	align-items: center;
	gap: 0.15rem;
	font-size: 0.9rem;
	margin-bottom: 0.6rem;
}
.tours__card-location-icon {
	font-size: 1.25rem;
}

.tours__card-location-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tours_card-desc {
	font-size: 0.8;
	padding: 0.9rem 0;
	background-image: linear-gradient(90deg, $color-primary 60%, transparent 60%);
	background-position-y: top;
	background-size: 100% 0.125rem;
	background-repeat: no-repeat;
}
