* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

.container {
	width: 75rem;
	margin: 0 auto;
}

.header {
	height: 40rem;
	background-image: linear-gradient(-5.71deg,
			white 49.5%,
			transparent 50.5%),
		url("../assets/images/A_HeaderMountain02.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center 100%, center center;
	background-size: 100vw 10vw, cover;
}

.navigation__list {
	display: flex;
	flex-direction: row;
}

.navigation__list-item {
	display: block;
	list-style-type: none;
}

.navigation__list-item-link {
	display: block;
	margin: 2rem 2rem 0 2rem;
	padding: 0.5rem 0.25rem 0.25rem 0.25rem;
	color: white;
	text-decoration: none;

}

.navigation__list-item-link:hover {
	border-bottom: 0.2rem solid rgb(0, 225, 156);
}

.navigation__list-item-link--logo:hover {
	border-bottom: none;
	color: rgb(200, 200, 200);
}

.navigation__list-item-logo {
	width: 4rem;
	height: 4rem;
	fill: currentColor;
}