* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: 'Jost', sans-serif;
}

.container {
	width: 75rem;
	margin: 0 auto;
}

.header {
	height: 40rem;
	background-image: linear-gradient(-5.71deg, white 49.5%, transparent 50.5%);
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: 100vw 10vw;
}

.header__container {
	position: relative;
}

.header__background {
	height: 40rem;
	position: absolute;
	top: 0;
	width: 100%;
	background-image: url('../assets/images/A_HeaderMountain02.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
}

.header__mountains {
	height: 40rem;
	position: absolute;
	top: 0;
	width: 100%;
	background-image: url('../assets/images/A_HeaderMountain01.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
}

.icon {
	fill: currentColor;
	height: 1em;
	vertical-align: middle;
	position: relative;
	top: -0.075em;
}

.navigation__list-item {
	display: block;
	list-style-type: none;
	float: left;
}

.navigation__list-item--menu {
	float: right;
	font-size: 3rem;
}

.navigation__list-item-link {
	display: block;
	margin: 2rem 2rem 0 2rem;
	padding: 0.5rem 0.25rem 0.25rem 0.25rem;
	color: white;
	text-decoration: none;
	text-shadow: 0 0 0.5rem black;
}

.navigation__list-item-link:hover {
	border-bottom: 0.2rem solid rgb(0, 225, 156);
}

.navigation__list-item--menu .navigation__list-item-link {
	margin-top: 0.4rem;
}

.navigation__list-item--menu .navigation__list-item-link:hover {
	border-bottom: none;
	color: rgb(200, 200, 200);
}

.navigation__list-item-link--logo {
	margin-top: 0.9rem;
}

.navigation__list-item-link--logo:hover {
	border-bottom: none;
	color: rgb(200, 200, 200);
}

.navigation__list-item-logo {
	width: 4rem;
	height: 4rem;
	fill: currentColor;
}

.header__heading-container {
	clear: both;
}

.header__heading-main {
	padding-top: 5rem;
	text-transform: uppercase;
	color: white;
	font-size: 7rem;
	text-align: center;
	line-height: 92%;
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.header__heading-sub {
	margin: 1rem;
	text-transform: uppercase;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 0.25rem;
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}